<app-encabezado></app-encabezado>
<div class="row">
    <div class="col-12 text-center mb-5 mt-4">
        <div class="d-flex justify-content-between">
            <div>&nbsp;</div>
            <div>
                <h1>Categorias</h1>
            </div>
            <div>
                <a class="btn btn-primary" [routerLink]="['/admin/categoria/crear']">CREAR CATEGORIA</a>
            </div>
        </div>
        <input type="text" name="search" placeholder="Buscar por nombre del usuario o unidad de adscripción">
    </div>
    <div class="col-sm-4 mb-3" *ngFor="let categoria of categorias">
        <div class="card text-center">
            <div class="card-block p-2">
                <h3 class="card-title">{{ categoria.categoria }}</h3>
                <a class="btn btn-primary" [routerLink]="['/admin/categoria/editar/', categoria._id]">EDITAR</a>
                <a class="btn btn-primary" [routerLink]="['/admin/categoria/eliminar/', categoria._id]">ELIMINAR</a>
            </div>
        </div>
    </div>
</div>