<app-encabezado-usuario></app-encabezado-usuario>
<div class="row">
  <div class="col-12 text-center mt-5 mb-3">
    <h1>PROCESO DE VALIDACIÓN</h1>
    <!--
    <pre>
      {{ solicitud | json }}
    </pre>
    -->
  </div>
  <div class="col-6">
    <h3 class="text-center">Unidad Requirente</h3>
    <table class="table table-striped">
      <tr>
        <td>NOMBRE</td>
        <td>{{ solicitud.unidad.nombre }}</td>
      </tr>
      <tr>
        <td>SIGLA</td>
        <td>{{ solicitud.unidad.sigla }}</td>
      </tr>
      <tr>
        <td>DIRECCIÓN</td>
        <td>{{ solicitud.unidad.direccion }}</td>
      </tr>
    </table>

    <h3 class="text-center">Progreso de validación</h3>
    <ul class="timeline">
      <li *ngIf="solicitud.elaboro && solicitud.elaboro.fecha != null">
        <div class="timeline-badge bg-success">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Solicitud Presentada por Jefe de UDI</h4>
            <p>
              <small class="text-muted">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> {{ solicitud.elaboro.fecha }}</small>
            </p>
          </div>
          <div class="timeline-body">
            <p>{{ solicitud.elaboro.nombre }}</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted" *ngIf="solicitud.autorizo && solicitud.autorizo.fecha != null">
        <div class="timeline-badge bg-success">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Validacion por director de la Unidad.</h4>
            <p>
              <small class="text-muted">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> {{ solicitud.autorizo.fecha }}</small>
            </p>
          </div>
          <div class="timeline-body">
            <p>{{ solicitud.autorizo.nombre }}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="p-3 mb-2 bg-success text-white" *ngIf="solicitud.autorizo && solicitud.autorizo.fecha != null">
      <h3 class="text-center">
        <i class="fa fa-truck" aria-hidden="true"></i><br>
        La solicitud esta lista para ser enviada a tu unidad.
      </h3>
    </div>
  </div>
  <!--
  <div class="col-6">
    <pre>
      {{ solicitud | json  }}
    </pre>
  </div>
  -->
  <div class="col-6">
    <h3 class="text-center">Articulos Solicitados</h3>
    <table class="table table-striped">
      <thead class="thead-dark">
        <th>CANTIDAD</th>
        <th>TIPO</th>
        <th>DESCRIPCIÓN TÉCNICA</th>
      </thead>
      <tr *ngFor="let articulo of solicitud.articulos;">
        <td>
          {{ articulo.cantidad }}
        </td>
        <td>
          {{ articulo.categoria }} {{ articulo.nombre }}
        </td>
        <td>
          <ul *ngFor="let propiedad of articulo.propiedades">
            <li>{{ propiedad.valor }}: {{ propiedad.nombre }}</li>
          </ul>
        </td>
      </tr>
      <!--
      -->
    </table>
  </div>
</div>