<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between" style="background-color:white; border-top:1px solid #28292A; border-bottom: 8px solid gray">
      <div class="d-flex">
        <img src="assets/images/logo-sep-ipn.png" height="87">
        <span class="mt-4">
          Instituto Politécnico Nacional
          <br> "La Técnica al Servicio de la Patria"
        </span>
      </div>
      <div class="p-2" *ngIf="informacion_usuario">
        <span>
          {{ informacion_usuario.unidad.nombre }}
          <br> {{ informacion_usuario.nombre }}
          <br> {{ informacion_usuario.tipo }}
          <br>
          <a [routerLink]="['/login']">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            CERRAR SESIÓN
          </a>
        </span>
      </div>
    </div>
  </div>
</div>