<app-encabezado></app-encabezado>
<div id="sigit-app-body" class="container-fluid">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-2" style="background-color: #77455a;color:white;">
            <span>DIRECCIÓN DE CÓMPUTO Y COMUNICACIONES</span>
        </div>
        <div class="col-12 text-center p-2" style="background: #393b3c;border-top:25px solid #28292a;">
            <img class="gobmx-footer" src="https://framework-gb.cdn.gob.mx/assets/images/gobmxlogo.svg" alt="Página de inicio, Gobierno de México"
                width="126" height="39">
        </div>
    </div>
</div>