<div class="container">
    <h1>Definir atributos de producto</h1>
    
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <pre>{{ model | json}}</pre>
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <select class="form-control"  id="categoria"
                  required
                  [(ngModel)]="model.categoria" name="categoria">
              <option *ngFor="let categoria of categorias" [value]="categoria.nombre">{{categoria.nombre}}</option>
          </select>
        </div>
        <div class="form-group">
            <label for="subcategoria">Subcategoria</label>
            <select class="form-control"  id="subcategoria"
                    required
                    [(ngModel)]="model.subcategoria" name="subcategoria">
                <option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.nombre">
                    {{subcategoria.nombre}}
                </option>
            </select>
        </div>

        <h2>
            Caracteristicas
        </h2>
        <button class="btn" (click)="agregarPropiedad()">Agregar</button>
        
        <ul>
          <li *ngFor="let propiedad of model.propiedades; let i = index;">
              <input type="text" 
              class="form-control"
              required
              name="propiedades{{i}}"
              id="propiedades{{i}}"
              (blur)="buscarAtributo(model.propiedades[i].nombre)"
              (ngModelChange)="enCambioDeAtributo($event, i)"
              [(ngModel)]="model.propiedades[i].nombre">
                <button (click)="borrarPropiedad(i)">
                    Borrar
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
          </li>
        </ul>
        
        <button type="button" class="btn btn-default" 
          (click)="newHero(); heroForm.reset()"
          [disabled]="!heroForm.form.valid">New Hero
        </button>
    </form>
</div>