<app-encabezado></app-encabezado>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mb-5 mt-4">
      <div class="d-flex justify-content-between">
        <div>&nbsp;</div>
        <div>
          <h1>Articulos</h1>
        </div>
        <div>
          <a class="btn btn-primary" [routerLink]="[ '/admin/articulo/crear' ]">CREAR ARTICULO</a>
        </div>
      </div>
      <input type="text" id="buscar-articulo" name="search" placeholder="Buscar por nombre del usuario o unidad de adscripción">
    </div>
    <div class="col-sm-4 mb-3" *ngFor="let articulo of articulos">
      <div class="card text-center">
        <div class="card-block p-2">
          <h3 class="card-title">{{ articulo.categoria }}</h3>
          <p class="card-text">
            {{ articulo.nombre }}
          </p>
          <a class="btn btn-primary" [routerLink]="[ '/admin/articulo/editar', articulo._id ]">Editar</a>
          <a class="btn btn-primary" [routerLink]="[ '/admin/articulo/eliminar', articulo._id ]">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</div>