<div class="container">
  <div class="row">
      <div class="col-md-12">
          <table>
              <td>
                  <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                  alt="">
              </td>
              <td>
                  <h1>ESCUELA SUPERIOR DE COMPUTO</h1>
                  <h2>RESPONSABLE DE LA UDI</h2>
              </td>
          </table>
      </div>
      <div class="col-md-8">
          <div class="row">
              <div class="col-12">
                  <!-- <input class="form-control" type="text" placeholder="Buscar por nombre o categoria"> -->
                  <div id="busqueda">
                      <div class="input-group col-md-12">
                          <input type="text" class="consulta form-control form-control-lg" placeholder="Buscar por nombre o categoria" />
                          <span class="input-group-btn">
                              <button class="btn btn-danger" type="button">
                                  <span class="fa fa-search"></span>
                              </button>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="row">
                      <div class="col-md-12 text-center">
                          <h3>Categoria</h3>
                          <hr>
                      </div>
                  </div>
              </div>
              <div class="col-12">
                  <div class="row">
                      <div class="col-md-3 text-center">
                          <div class="articulo">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </div>
                      </div>
                      <div class="col-md-3 text-center">
                          <div class="articulo">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </div>
                      </div>
                      <div class="col-md-3 text-center">
                          <div class="articulo">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </div>
                      </div>
                      <div class="col-md-3 text-center">
                          <div class="articulo">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 text-center">
                  <h3>Producto</h3>
                  <hr>
              </div>
              <div class="col-12">
                  <div class="row">
                      <div class="col-4 text-center">
                          <div class="articulo">
                              CCD modulo escaner
                              <br>
                              <button>
                                  <i class="fa fa-cart-plus" aria-hidden="true"></i>
                              </button>
                              <button data-toggle="modal" data-target="#exampleModal">
                                  <i class="fa fa-address-card-o" aria-hidden="true"></i>
                              </button>
                          </div>
                      </div>
                      <div class="col-4 text-center">
                          <div class="articulo">
                              CCD modulo escaner
                              <br>
                              <button>
                                  <i class="fa fa-cart-plus" aria-hidden="true"></i>
                              </button>
                              <button data-toggle="modal" data-target="#exampleModal">
                                  <i class="fa fa-address-card-o" aria-hidden="true"></i>
                              </button>
                          </div>
                      </div>
                      <div class="col-4 text-center">
                          <div class="articulo">
                              CCD modulo escaner
                              <br>
                              <button>
                                  <i class="fa fa-cart-plus" aria-hidden="true"></i>
                              </button>
                              <button data-toggle="modal" data-target="#exampleModal">
                                  <i class="fa fa-address-card-o" aria-hidden="true"></i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="resumen-pedido">
              <h3 class="text-center">Solicitud</h3>
              <hr>
              <table>
                  <tr>
                      <td width="10%">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </td>
                      <td width="70%">
                          MODULO CCD
                      </td>
                      <td width="20%">
                          <input class="form-control" type="number" step="1">
                          <button class="btn">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </button>
                      </td>
                  </tr>
              </table>
              <button class="btn terminar-solicitud">Terminar Solicitud</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div>
                  <div class="row">
                      <div class="col-12">
                          <div class="row cabecera-detalle-producto">
                              <div class="col-12 text-center">
                                  <h3>Capacidad: 800 GB con compresión 2:1 admitido</h3>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <table class="table">
                              <tr>
                                  <td class="atributo" align="right">Tecnología de grabación</td>
                                  <td> LTO-3 Ultrium</td>
                              </tr>
                              <tr>
                                  <td class="atributo" align="right">Velocidad de lectura</td>
                                  <td> 120 MB/S</td>
                              </tr>
                              <tr>
                                  <td class="atributo" align="right">Longitud de cinta</td>
                                  <td> 680 m</td>
                              </tr>
                              <tr>
                                  <td class="atributo" align="right">Ancho de cinta</td>
                                  <td> 12.65 mm</td>
                              </tr>
                              <tr>
                                  <td class="atributo" align="right">Grosor de cinta</td>
                                  <td> 8.0 μm</td>
                              </tr>
                              <tr>
                                  <td class="atributo" align="right">Formato de soporte</td>
                                  <td> Regrabable</td>
                              </tr>
                              <tr>
                                  <td class="atributo" align="right">Vida del archivo</td>
                                  <td> 30 años</td>
                              </tr>
                              <tr>
                                  <td class="atributo" align="right">Peso</td>
                                  <td> 270 gr.</td>
                              </tr>
                              <tr>
                          </table>
                      </div>
                      <div class="col-12">
                          <div class="row">
                              <div class="col-6">
                                  <button class="btn">
                                      <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                      Anterior
                                  </button>
                                  <button class="btn">
                                      <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                      Siguiente
                                  </button>
                              </div>
                              <div class="col-6">
                                  Agregar
                                  <input class="form-control" type="number" placeholder="CANTIDAD" step="1">
                                  <div class="solicitar-producto text-center">
                                      <button class="btn">
                                          <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                          Agregar al pedido
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
          </div>
      </div>
  </div>
</div>