.realizar-solicitud{
    padding-top: 30px;
    padding-bottom: 80px;
}

/*CUSTOM SEARCH BOX*/
#busqueda {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#busqueda .consulta {
    padding: 20px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#busqueda button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.consulta:focus + button {
    z-index: 3;   
}

div.container>div.row{
    background-color: white;
}
div.resumen-pedido{
    border: 2px solid #e9eaea;
    border-radius: 5px;
    padding: 10px;
    border-top: 5px solid #68124a;
}
.terminar-solicitud{
    background-color: #68124a;
    border: none;
    color: white;
    width: 100%;
    box-shadow: 0px 3px 3px #adadad;
}
.articulo{
    border: 1px solid lightgray;
    border-top: 2px solid #68124a;
    /*border-radius: 5px;*/
    padding: 10px;
    width: 100%;
    /*margin: px;*/
    min-height: 100px;
}
.articulo>button{
    background-color: #c771a9;
    border: none;
    color: white;
}
/*
div.articulo:hover{
    border: none;
    background-color: #75435a;
    color: white;
}

div.articulo:hover button{
    background-color: white;
    cursor: pointer;
}
*/
div.solicitar-producto{
    padding: 10px;
    background-color: #dcdcdc;
}
div.solicitar-producto>button{
    background-color: #4958d4;
    color: white;
    margin-top: 10px;
}
/*.cabecera-detalle-producto{
    background-color: #f9f9f9;
}*/
td.atributo{
    background-color: #f7f7f7;
}

h4.titulo-seccion{
    color: #6e748f;
    font-size: 18px;
    padding-left: 1px;
}
.eliminar-producto{
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #969696;
}
p{
    color: #9fa4b8;
}

