<app-encabezado></app-encabezado>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mb-5 mt-4">
      <div class="d-flex justify-content-between">
        <div>&nbsp;</div>
        <div>
          <h1>Usuarios</h1>
        </div>
        <div>
          <a class="btn btn-primary" [routerLink]="[ '/admin/usuario/crear' ]">CREAR USUARIO</a>
        </div>
      </div>
      <input type="text" id="buscar-usuario" name="search" placeholder="Buscar por nombre del usuario, e-mail, unidad de adscripción" autofocus>
    </div>
    <div class="col-sm-4 mb-3" *ngFor="let usuario of usuarios">
      <div class="card text-center">
        <div class="card-block p-2">
          <h3 class="card-title">{{ usuario.nombre }}</h3>
          <span class="badge badge-info">{{ usuario.tipo }}</span>
          <p class="card-text">
            {{ usuario.unidad.sigla }}
          </p>
          <a class="btn btn-primary" [routerLink]="[ '/admin/usuario/editar', usuario._id ]">Editar</a>
          <a class="btn btn-primary" [routerLink]="[ '/admin/usuario/eliminar', usuario._id ]">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</div>