<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between" style="background-color:white; border-top:2px solid #28292A;">
        <div class="d-flex">
          <img src="assets/images/logo-sep-ipn.png" height="87">
          <span class="mt-4">
            Instituto Politécnico Nacional
            <br> "La Técnica al Servicio de la Patria"
          </span>
        </div>
        <div class="p-2" *ngIf="informacion_usuario">
          <span>
            {{ informacion_usuario.unidad.nombre }}
            <br> {{ informacion_usuario.nombre }}
            <br> {{ informacion_usuario.tipo }}
          </span>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ededed">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/usuario/listar-todos']">USUARIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/unidad/listar-todos']">UNIDADES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/reportes']">REPORTES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/categoria/listar-todos']">CATEGORIAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/articulo/listar-todos']">ARTICULOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/pedido/listar-todos']">PEDIDOS</a>
            </li>
          </ul>
        </div>
        <div>
          <a [routerLink]="['/login']">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            CERRAR SESIÓN
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>