<app-encabezado></app-encabezado>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-4 mt-4" *ngIf="accion === 'crear'">Crear Usuario.</h1>
      <h1 class="mb-4 mt-4" *ngIf="accion === 'editar'">Editar Usuario.</h1>
    </div>
    <div class="offset-2 col-8" *ngIf="usuario">
      <form #heroForm="ngForm">
        <div class="form-group">
          <label for="clasificacion_unidad">Nivel</label>
          <select class="form-control" id="clasificacion_unidad" required (change)="obtenerUnidadesPorClasificacion($event)" name="categoria">
            <option *ngFor="let clasificacion of clasificacion_unidades" [selected]="usuario.unidad.clasificacion == clasificacion.clasificacion"
              [value]="usuario.unidad.clasificacion">{{clasificacion.descripcion}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="unidad_id">Dependencia</label>
          <select class="form-control" id="unidad_id" required (change)="asignarUnidadAUsuario($event)" name="categoria">
            <option *ngFor="let unidad of unidades" [selected]="usuario.unidad.clave_ur == unidad.clave_ur" [value]="usuario.unidad.nombre">{{unidad.unidad}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" type="text" class="form-control" [(ngModel)]="usuario.email">
        </div>
        <div class="form-group">
          <label for="tipo">Tipo</label>
          <select class="form-control" name="tipo" id="tipo" [(ngModel)]="usuario.tipo">
            <option value="Capturista">Capturista</option>
            <option value="Responsable">Responsable</option>
            <option value="Administrador">Administrador</option>
          </select>
        </div>
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input id="usuario" name="usuario" type="text" class="form-control" [(ngModel)]="usuario.usuario">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input id="password" name="password" type="text" class="form-control" [(ngModel)]="usuario.password">
        </div>
        <button type="submit" *ngIf="accion === 'crear'" class="btn btn-primary btn-lg btn-block mb-4" (click)="crearUsuario();heroForm.reset();"
          [disabled]="!heroForm.form.valid">
          Crear Usuario
        </button>
        <button type="submit" *ngIf="accion === 'editar'" class="btn btn-primary btn-lg btn-block mb-4" (click)="modificarUsuario();"
          [disabled]="!heroForm.form.valid">
          Guardar Modificaciones al Usuario
        </button>
      </form>
    </div>
    <!--
      <div class="col-6">
        <pre>{{ usuario | json}}</pre>
      </div>
    -->
  </div>
</div>