<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between mb-3" style="background-color:white; border-top:2px solid #28292A; border-bottom:25px solid #ededed;">
        <div class="p-2 d-flex">
          <img src="assets/images/logo-sep-ipn.png" height="87">
          <span>
            Instituto Politécnico Nacional
            <br> "La Técnica al Servicio de la Patria"
          </span>
        </div>
        <div class="p-2" *ngIf="informacion_usuario">
          <p>
            {{ informacion_usuario.unidad.nombre }}
            <!-- <br> {{ informacion_usuario.nombre }} -->
            <br> RESPONSABLE DE LA UDI
          </p>
          <p>
            <a [routerLink]="['/login']">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Salir
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <table class="table">
        <tr>
          <td>
            <a [routerLink]="['/admin/reportes']">REPORTES</a>
          </td>
          <td>
            <a [routerLink]="['admin/categoria/listar-todos']">CATEGORIAS</a>
          </td>
          <td>
            <a [routerLink]="['admin/articulo/listar-todos']">ARTICULOS</a>
          </td>
          <td>
            <a [routerLink]="['admin/pedido/listar-todos']">PEDIDOS</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>