<app-encabezado></app-encabezado>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mb-5 mt-4">
      <div class="d-flex justify-content-between">
        <div>&nbsp;</div>
        <div>
          <h1>Centros y Unidades</h1>
        </div>
        <div>
          <a class="btn btn-primary" [routerLink]="[ '/admin/unidad/crear' ]">CREAR UNIDAD</a>
        </div>
      </div>
      <input type="text" id="buscar-unidad" name="search" placeholder="Buscar por nombre del usuario o unidad de adscripción">
    </div>
    <div class="col-sm-4 mb-3" *ngFor="let unidad of unidades">
      <div class="card text-center">
        <div class="card-block p-2">
          <h3 class="card-title">{{ unidad.clasificacion }}</h3>
          <p class="card-text">
            {{ unidad.unidad }}
          </p>
          <a class="btn btn-primary" [routerLink]="[ '/admin/unidad/editar', unidad._id ]">Editar</a>
          <a class="btn btn-primary" [routerLink]="[ '/admin/unidad/eliminar', unidad._id ]">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</div>