<div class="container-fluid">
  <div class="row">
      <div class="col-3 text-center">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i><br>
          CONTENEDOR<br>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </div>
      <div class="col-3 text-center">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i><br>
          CONTENEDOR<br>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </div>
      <div class="col-3 text-center">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i><br>
          CONTENEDOR<br>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </div>
      <div class="col-3 text-center">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i><br>
          CONTENEDOR<br>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </div>
  </div>
</div>