<app-encabezado></app-encabezado>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-4 mt-4" *ngIf="accion === 'crear'">Crear Articulo.</h1>
      <h1 class="mb-4 mt-4" *ngIf="accion === 'editar'">Editar Articulo.</h1>
    </div>
    <div class="offset-2 col-8" *ngIf="articulo && categorias">
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="categoria">Categoria</label>

          <select class="form-control" id="categoria" required (change)="obtenerCaracteristicas($event)" [(ngModel)]="articulo.categoria"
            name="categoria">
            <option *ngFor="let categoria of categorias" [value]="categoria.categoria" [selected]="articulo.categoria === categoria.categoria">{{categoria.categoria}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre del Modelo</label>
          <input type="text" class="form-control" id="nombre" required placeholder="EJ: TIPO 1" [(ngModel)]="articulo.nombre" name="nombre"
            (ngModelChange)="asignarTokenAlNombre($event)" #nombre="ngModel" #spy>
          <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
            Nombre del articulo es requerido
          </div>
        </div>
        <span>
          Caracteristicas ({{ articulo.propiedades.length }})
        </span>
        <div class="form-group row">
          <div class="col-11" *ngFor="let propiedad of articulo.propiedades; let i = index;">
            <label for="{{ propiedad.nombre }}">{{ propiedad.nombre }}</label>
            <input type="text" class="form-control" required name="{{ propiedad.nombre }}" id="{{ propiedad.nombre }}" (ngModelChange)="asignarValorDeAtributo($event, i)"
              [(ngModel)]="propiedad.valor">
          </div>
        </div>
        <button type="submit" *ngIf="accion === 'crear'" class="btn btn-primary btn-lg btn-block mb-4" (click)="crearArticulo();heroForm.reset();" [disabled]="!heroForm.form.valid">
          Crear Articulo
        </button>
        <button type="submit" *ngIf="accion === 'editar'" class="btn btn-primary btn-lg btn-block mb-4" (click)="modificarArticulo();" [disabled]="!heroForm.form.valid">
          Guardar Modificaciones al Articulo
        </button>
      </form>
    </div>
    <!--
    <div class="col-6">
      <pre>
        {{ articulo | json }}
      </pre>
    </div>
  -->
  </div>
</div>