<div class="container">
  <div class="row">
      <div class="col-md-12">
          <table>
              <tr>
                  <td>
                      <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                  alt="">
                  </td>
                  <td>
                      <h1>ESCUELA SUPERIOR DE COMPUTO</h1>
                      <br>
                      <h2>RESPONSABLE DE LA UDI</h2>
                  </td>
              </tr>
          </table>
      </div>
      <div class="col-md-12 text-center d-flex">
          <h2>VALIDAR SOLICITUD</h2>
          <!-- <i class="fa fa-angle-double-down" aria-hidden="true"></i>
          EXPANDIR
          <i class="fa fa-angle-double-up" aria-hidden="true"></i>
          CONTRAER -->

          <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Todos
              </label>
              <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Individual
              </label>
          </div>
      </div>
      <div class="col-md-12">
          <table class="table">
              <tr>
                  <td>
                      <button class="mostrar-detalle">
                          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                      </button>
                      <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                  </td>
                  <td>
                      Nombre del producto<br>
                      CCD módulo
                      escáner 002n02346
                      Jc96-02759b
                  </td>
                  <td>
                      Cantidad
                      <input class="form-control" type="number" step="1">
                  </td>
                  <td>
                      <div class="acciones-producto">
                          <table class="table">
                              <tr>
                                  <td>
                                      <a class="rechazar" 
                                          href="#" 
                                          data-toggle="tooltip" 
                                          data-placement="top" 
                                          title="Rechazar solicitud de 3 piezas de CCD módulo escáner">
                                          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                      </a>
                                      <a class="validar"
                                          href="#" 
                                          data-toggle="tooltip" 
                                          data-placement="top" 
                                          title="Validar solicitud de 3 piezas de CCD módulo escáner">
                                          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                      </a>
                                  </td>
                              </tr>
                          </table>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td colspan="4" style="background-color: #f2f4f3">
                      <table class="table" style="background-color: #f2f4f3">
                          <tr>
                              <td class="nombre-atributo">Capacidad:</td>
                              <td>800 GB con compresión 2:1 admitido</td>
                          </tr>
                          <tr>
                              <td class="nombre-atributo">Tecnología de grabación</td>
                              <td>LTO-3 Ultrium</td>
                          </tr>
                          <tr>
                              <td class="nombre-atributo">Velocidad de lectura</td>
                              <td>120 MB/S</td>
                          </tr>
                          <tr>
                              <td class="nombre-atributo">Longitud de cinta</td>
                              <td>680 m</td>
                          </tr>
                          <tr>
                              <td class="nombre-atributo">Ancho de cinta</td>
                              <td>12.65 mm</td>
                          </tr>
                          <tr>
                              <td class="nombre-atributo">Grosor de cinta</td>
                              <td>8.0 μm</td>
                          </tr>
                          <tr>
                              <td class="nombre-atributo">Formato de soporte</td>
                              <td>Regrabable</td>
                          </tr>
                          <tr>
                              <td class="nombre-atributo">Vida del archivo</td>
                              <td>30 años</td>
                          </tr>
                          <tr>
                              <td class="nombre-atributo">Peso</td>
                              <td>270 gr.
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
          
          <div class="row">
              <div class="col-12 resumen-pedido">
                  <div class="row">
                      <div class="col-8">
                          RESUMEN
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <span>Se han validado 20 de 40 productos</span>
                      </div>
                      <div class="col-4 text-right">
                          <span class="align-middle">
                              <button class="validar-solicitud">
                                  Terminar Validacion
                              </button>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>