<app-encabezado-usuario></app-encabezado-usuario>
<div class="row">
    <div class="col-12 text-center mb-5 mt-4">
        <h2 class="text-center">VALIDAR SOLICITUD DE INSUMOS INFORMATICOS</h2>
        <!-- 
            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            EXPANDIR
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
            CONTRAER
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Todos
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Individual
                </label>
            </div>
        -->
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12" *ngIf="pedido">
                <table class="table" *ngFor="let articulo of pedido.articulos; let i = index;">
                    <tr>
                        <td>
                            <div *ngIf="articulo.validacion && articulo.validacion.responsable.fecha != null" class="p-3 mb-2 bg-success text-white">VALIDADO</div>
                            <div *ngIf="!articulo.validacion" class="p-3 mb-2 bg-secondary text-white">POR VALIDAR</div>
                        </td>
                        <!--
                        <td>
                            <button class="mostrar-detalle">
                                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </button>
                        </td>
                        -->
                        <td>
                            Nombre del articulo:
                            <br> {{ articulo.categoria }} {{ articulo.nombre }}
                        </td>
                        <td>
                            Cantidad
                            <br>
                            <input class="form-control" type="number" step="1" [(ngModel)]="articulo.cantidad">
                        </td>
                        <td>
                            <div class="acciones-producto">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <button class="rechazar" (click)="rechazarArticulo(i)" data-toggle="tooltip" data-placement="top" title="Rechazar solicitud de 3 piezas de CCD módulo escáner">
                                                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                            </button>
                                            <button class="validar" (click)="aprobarArticulo(i)" data-toggle="tooltip" data-placement="top" title="Validar solicitud de 3 piezas de CCD módulo escáner">
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let caracteristica of articulo.propiedades" style="display:none">
                        <td colspan="4" style="background-color: #f2f4f3">
                            <table class="table" style="background-color: #f2f4f3">
                                <tr>
                                    <td class="nombre-atributo">{{ caracteristica.nombre }}</td>
                                    <td>{{ caracteristica.valor }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-12 resumen-pedido">
                <div class="row" *ngIf="pedido">
                    <div class="col-8">
                        RESUMEN -- {{ porcentaje_validacion }}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [style.width.%]="porcentaje_validacion" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                        <span *ngIf="pedido">Se han validado {{ no_articulos_validados }} de {{ pedido.articulos.length }} productos</span>
                    </div>
                    <div class="col-4 text-right">
                        <button class="validar-solicitud" [disabled]="porcentaje_validacion < 100" (click)="validarPedido()">
                            Validar Pedido
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="col-4">
        <pre *ngIf="pedido">
            {{ pedido | json }}
        </pre>
    </div>
    -->
</div>